.idea
build
build_debug
build_release
test*.mlir
test.sql
resources/data/tpch-*
resources/data/tpcds-*
resources/data/job
resources/data/ssb-*
test_resources
__pycache__
llvm-jit-static.*
perf-result.json
sourcemap*
snapshot-*
mlir-c-module.cpp
input.mlir
c-backend.so
lingodb.trace
sql-input.mlir
perf.*
events.parquet
operations.parquet
.vscode
mlir_venv
venv
